# Unity generated folders
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
**/[Oo]bj/
/[Bb]in/
**/[Bb]in/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Visual Studio / Rider / VSCode
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# OS generated
.DS_Store
Thumbs.db
